<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-2">
          <input type="text" name="" class="form-control" placeholder="STT" id="txtGroupOrder">
      </div>
      <div class="col-sm-4">
          <input type="text" name="" class="form-control" placeholder="Tên lớp" id="txtGroupName">
      </div>
      <div class="col-sm-4">
          <input type="text" name="" class="form-control" placeholder="Thẻ meta của lớp, không dấu, ngăn cách nhau bởi kí tự -" id="txtGroupMeta">
      </div>

      <div class="col-sm-2">
        <button type="button" class="btn btn-success" id="btnSave" style="width:100%"><i class="glyphicon-plus"></i> Lưu</button>
      </div>

    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body mt-4">
    <table class="table table-bordered table-primary table-striped ">
      <thead>
        <tr>
          <th style="width: 10px">STT</th>
          <th>Tên lớp</th>
          <th>Thẻ meta</th>
          <th style="width: 40px">Label</th>
        </tr>
      </thead>
      <tbody id="tblData">
      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>

<script type="text/javascript">
  $(document).ready(function(){
    LoadData();
  });

  $('#btnSave').click(function(){
    let order = $('#txtGroupOrder').val().trim();
    let name = $('#txtGroupName').val().trim();
    let meta = $('#txtGroupMeta').val().trim();
    if(order.length ==0 || name.length == 0 || meta.length == 0){
      alert('Vui lòng nhập đủ thông tin');
      return;
    }

    $.ajax({
      url:'/admin/group/create',
      type:'post',
      data:{
        order:order,
        name:name,
        meta:meta
      },
      success:function(data){
        if(data.code==200){
          LoadData();
          $('#txtGroupOrder').val('');
          $('#txtGroupName').val('');
          $('#txtGroupMeta').val('');
        }
      }
    })
  });

  function LoadData(){
    $.ajax({
      url:'/admin/group/list',
      type:'get',
      data:{
        is_actived:true
      },
      success:function(data){
        if(data.code == 200){
          $('#tblData').empty();
          let d = '';
          $.each(data.groups,function(k,r){
            d += '<tr>';
              d +=  '<td>'+r.order+'</td>';
              d +=  '<td>'+r.name+'</td>';
              d +=  '<td>'+r.meta+'</td>';
              d += '<td><span class="badge bg-danger">Update</span></td>'
              d += '</tr>';
            });
            $('#tblData').append(d);
          }
        }
      })
    };

  </script>
