<!-- phần nội dung câu hỏi -->
<div class="col-sm-12">
  <div class="panel panel-primary list-announcement">
    <div class="panel-heading">
      <div class="form-group">
        <% if(user){%>
          <h5 class="panel-title col-sm-2 ">MTS: <span id="candidate_code" class="text-danger"><b><%=user.member_code%></b></span></h5>
          <div class="col-sm-3 text-center">
            <label class="col-form-label" id="candidate">Thí sinh: <span class="panel-title"><%=user.fullname%></span></label>
          </div>
          <%}else{%>
            <div class="col-sm-3 text-center">
              <label class="col-form-label" id="candidate">Thí sinh: Guest</label>
            </div>
            <%}%>

            <div class="col-sm-3 text-center">
              <label class="col-form-label">Thời gian làm bài: <span id="totalTime">45:00</span> phút</label>
            </div>
            <div class="col-sm-3 text-center">
              <label class="col-form-label">Thời gian còn lại: <span id="remainTime">40:00</span></label>
            </div>
            <div class="col-sm-1 text-center">
              <button type="button" id="btnDoExam" class="btn btn-sm btn-warning">Làm bài</button>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled mb20" id="questions">

          </ul>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary btn-block">Kết thúc và nộp bài thi</button>
        </div>
      </div>
    </div>
    <!-- kết thúc phần nội dung câu hỏi  -->




    <script type="text/javascript">
      $(document).ready(function(){
        // let group = $('#group').data('group');
        // console.log(group);

      });

      $('#btnDoExam').click(function(){
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');

        let group =(hashes[0].split('='))[1];
        let subject = (hashes[1].split('='))[1];

        $.ajax({
          url:'/lam-bai-thi/random-questions',
          type:'get',
          data:{
            group:group,
            subject:subject
          },
          success:function(data){
            if(data.code == 200){
              $('#questions').empty();
              let content = '';
              let idx = 1;
              $.each(data.questions,function(k,r){
                content +='<li class="form-group" id="'+r._id+'">';
                  content +='<label for="question">Câu hỏi '+idx+':<span class = "text-danger"><strong> '+r.question+'</strong></span></label>';
                  content += '<fieldset id="group'+idx+'">';
                    content += '<input type="radio" name="group'+idx+'" class="rdOptionA" > a. <span class = "text-primary rdOptionA">'+r.option_a+'</span>';
                    content += '</fieldset>';
                    content += '<fieldset id="group'+idx+'">';
                      content += '<input type="radio" name="group'+idx+'" class="rdOptionB" > b. <span class = "text-primary rdOptionB">'+r.option_b+'</span>';
                      content += '</fieldset>';
                      content += '<fieldset id="group'+idx+'">';
                        content += '<input type="radio" name="group'+idx+'" class="rdOptionC" > c. <span class = "text-primary rdOptionC">'+r.option_c+'</span>';
                        content += '</fieldset>';
                        content += '<fieldset id="group'+idx+'">';
                          content += '<input type="radio" name="group'+idx+'" class="rdOptionD" > d. <span class = "text-primary rdOptionD  ">'+r.option_d+'</span>';
                          content += '</fieldset>';
                          content +='<fieldset class ="remark">';
                            content += '<p class = "description"></p>';
                            content += '</fieldset>';
                            content +='</li>';
                            idx++;
                          });
                          if(content.length > 0){
                            $('#questions').append(content);
                          }else{
                            $('#questions').append('<div class="text-center"><h1 class="text-warning">Hệ thống câu hỏi đang được cập nhật. Chân thành cảm ơn sự ủng hộ của bạn!</h1></div>');
                          }


                        }
                      }
                    });


                  });

                </script>
