<div class="panel panel-success" id="divStatistic" style="padding-top:0px; padding-bottom:0px; margin-top:0; margin-bottom:0;">
  <div class="panel-heading" style="padding-top:5px; padding-bottom:5px;">
    <h4 class="panel-title" style = "text-transform: uppercase; margin-top:5px; padding-top:5px; padding-bottom:5px; color:#ffffff"><i class="fa fa-bar-chart" aria-hidden="true"></i> KẾT QUẢ LÀM BÀI CỦA BẠN</h4>
  </div>
  <div class="panel-body" id="statistic">
    <div class="row">
      <div class="col-sm-6 col-xs-6">
        <h5 class="text-info">Số câu đã trả lời:</h5>
      </div>
      <div class="col-sm-6 col-xs-6">
        <h5 id="answered" class="text-warning">55</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-xs-6">
        <h5 class="text-success">Số câu trả lời đúng:</h5>
      </div>
      <div class="col-sm-6 col-xs-6">
        <h5 id="correct">40</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-xs-6">
        <h5 class="text-danger">Số câu trả lời sai:</h5>
      </div>
      <div class="col-sm-6 col-xs-6">
        <h5 id="wrong">55</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-xs-6">
        <h5 class="text-warning">Số câu chưa trả lời:</h5>
      </div>
      <div class="col-sm-6 col-xs-6">
        <h5 id="notyet">55</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-xs-6">
        <h5 class="text-primary">Tỉ lệ làm bài đúng:</h5>
      </div>
      <div class="col-sm-6 col-xs-6">
        <h5 id="ratio">55</h5>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <h4 id="evaluate">Lần này sự thể hiện của bạn chưa thực sự xuất sắc</h4>
      </div>
    </div>
  </div>
</div>
