<div class="text-right">
  <strong>Copyright © 2020<a href="http://redoapp.com"> ReDo</a></strong>
  <span><a href="http://tracnghiem.redoapp.com/thi-cong-chuc/kien-thuc-chung/lam-bai" target="_blank"><i class="fa fa-globe text-primary" aria-hidden="true"></i></a></span>
  <span><a href="https://www.facebook.com/redodht/" target="_blank"><i class="fab fa-facebook-f text-primary"></i></a></span>
  <span><a href="https://www.youtube.com/channel/UCvrK3w-_n9jPy93tHHJ7Rgg?view_as=subscriber" target="_blank"><i class="fab fa-youtube text-danger"></i></a></span>

</div>
