<div class="col-md-4 col-sm-6 col-xs-12">
  <div class="panel panel-inverse">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-bullhorn" aria-hidden="true"></i> Bình luận, góp ý</h3>
    </div>
    <div class="panel-body" id="comments">
      <div class="comment_line">
        <section class="post-heading">
          <div class="row">
            <div class="col-md-12">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object photo-profile" src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4?s=40&d=mm&r=g" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <a href="#" class="anchor-username"><h4 class="media-heading">Bayu Darmantra</h4></a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="post-body">
          <p">22222222222222222222.</p>
        </section>

        <section class="post-footer">
          <div class="post-footer-option container">
            <ul class="list-unstyled">
              <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
              <li><a href="#"><i></i> 51 phút</a></li>
            </ul>
          </div>
        </section>
      </div>
      <div class="comment_line">
        <section class="post-heading">
          <div class="row">
            <div class="col-md-12">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object photo-profile" src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4?s=40&d=mm&r=g" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <a href="#" class="anchor-username"><h4 class="media-heading">Bayu Darmantra</h4></a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="post-body">
          <p">22222222222222222222.</p>
        </section>

        <section class="post-footer">
          <div class="post-footer-option container">
            <ul class="list-unstyled">
              <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
              <li><a href="#"><i></i> 51 phút</a></li>
            </ul>
          </div>
        </section>
      </div>
      <div class="comment_line">
        <section class="post-heading">
          <div class="row">
            <div class="col-md-12">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object photo-profile" src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4?s=40&d=mm&r=g" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <a href="#" class="anchor-username"><h4 class="media-heading">Bayu Darmantra</h4></a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="post-body">
          <p">22222222222222222222.</p>
        </section>

        <section class="post-footer">
          <div class="post-footer-option container">
            <ul class="list-unstyled">
              <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
              <li><a href="#"><i></i> 51 phút</a></li>
            </ul>
          </div>
        </section>
      </div>
      <div class="comment_line">
        <section class="post-heading">
          <div class="row">
            <div class="col-md-12">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object photo-profile" src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4?s=40&d=mm&r=g" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <a href="#" class="anchor-username"><h4 class="media-heading">Bayu Darmantra</h4></a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="post-body">
          <p">22222222222222222222.</p>
        </section>

        <section class="post-footer">
          <div class="post-footer-option container">
            <ul class="list-unstyled">
              <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
              <li><a href="#"><i></i> 51 phút</a></li>
            </ul>
          </div>
        </section>
      </div>
      <div class="comment_line">
        <section class="post-heading">
          <div class="row">
            <div class="col-md-12">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object photo-profile" src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4?s=40&d=mm&r=g" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <a href="#" class="anchor-username"><h4 class="media-heading">Bayu Darmantra</h4></a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="post-body">
          <p">22222222222222222222.</p>
        </section>

        <section class="post-footer">
          <div class="post-footer-option container">
            <ul class="list-unstyled">
              <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
              <li><a href="#"><i></i> 51 phút</a></li>
            </ul>
          </div>
        </section>
      </div>
      <div class="comment_line">
        <section class="post-heading">
          <div class="row">
            <div class="col-md-12">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object photo-profile" src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4?s=40&d=mm&r=g" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <a href="#" class="anchor-username"><h4 class="media-heading">Bayu Darmantra</h4></a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="post-body">
          <p">22222222222222222222.</p>
        </section>

        <section class="post-footer">
          <div class="post-footer-option container">
            <ul class="list-unstyled">
              <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
              <li><a href="#"><i></i> 51 phút</a></li>
            </ul>
          </div>
        </section>
      </div>
      <div class="comment_line">
        <section class="post-heading">
          <div class="row">
            <div class="col-md-12">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object photo-profile" src="http://0.gravatar.com/avatar/38d618563e55e6082adf4c8f8c13f3e4?s=40&d=mm&r=g" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <a href="#" class="anchor-username"><h4 class="media-heading">Bayu Darmantra</h4></a>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section class="post-body">
          <p">222222222222fdsafdsafasdfdsarf1241234213412341234213412343214321432142rfrsdfsafdsafas fasdf 5423532422222222.</p>
        </section>

        <section class="post-footer">
          <div class="post-footer-option container">
            <ul class="list-unstyled">
              <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
              <li><a href="#"><i></i> 51 phút</a></li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="post-footer-comment-wrapper">
    <div class="comment-form">
      <div class="input-group mb15">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default"><i class="fa fa-send-o text-primary"></i></button>
        </span>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    //khi scroll lên top
    $('#comments').scroll(function() {
      if($('#comments').scrollTop() == $('#comments').height() - $('#comments').height()) {
        console.log('top');
      }
    });

    //khi scroll tới cuối
    $('#comments').on('scroll', function() {
      if ($(this).scrollTop() + $(this).innerHeight() >=  $(this)[0].scrollHeight) {
        console.log('bottom');
      }
    });
  });
  </script>

  <style media="screen">
    #comments{
      max-height:200px;
      overflow: scroll;
      overflow-x:hidden;
    }
    /*-- Content Style --*/
    .post-body{
      word-wrap: break-word;
      margin-left:45px;
    }
    /*-- Content Style --*/
    .post-footer-option li{
      float:left;
      margin-right:50px;
      padding-bottom:15px;
    }

    .post-footer-option li a{
      color:#AFB4BD;
      font-weight:500;
      font-size:1.3rem;
    }

    .photo-profile{
      border:1px solid #DDD;
      border-radius: 50%;
      width:30px;
      height:30px;
    }

    .anchor-username h4{
      font-weight:bold;
    }

    .anchor-time{
      color:#ADB2BB;
      font-size:1.2rem;
    }

    .post-footer-comment-wrapper{
      background-color:#F6F7F8;
    }
    .media-body{
      padding-top:10px;
    }

    .fa-bullhorn{
      font-size:18px;
    }
  </style>
