<div class="panel panel-inverse">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-book" aria-hidden="true"></i> Tài liệu liên quan</h3>
  </div>
  <div class="panel-body" id="documents">

  </div>
</div>
