<div class="fixed-bottom" id="footer">
  <div class="row">
    <hr />
    <div class="col-md-6 col-xs-12">
      <h5 style="padding-left: 15px; text-transform: uppercase; color: #ff6600">
        Mạnh dạn ủng hộ qua một trong những tài khoản sau
      </h5>
      <ul class="list-unstyled mb20">
        <li class="outer-wrapper">
          <div class="col-xs-2 frame">
            <img
              src="/images/donate/bidv.png"
              alt="Tài khoản BIDV Nguyen Huu Truong"
              class="imgDonate"
            />
          </div>
          <div class="col-xs-10">
            <h5 class="text-danger">62110000454248</h5>
            <h5 class="text-info">NGUYEN HUU TRUONG</h5>
          </div>
        </li>
        <li class="outer-wrapper">
          <div class="col-xs-2 frame">
            <img
              src="/images/donate/momo.png"
              alt="Tài khoản BIDV Nguyen Huu Truong"
              class="imgDonate"
            />
          </div>
          <div class="col-xs-10">
            <h5 class="text-danger">0911397764</h5>
            <h5 class="text-info">NGUYEN HUU TRUONG</h5>
          </div>
        </li>
        <li class="outer-wrapper">
          <div class="col-xs-2 frame">
            <img
              src="/images/donate/viettelpay.png"
              alt="Tài khoản BIDV Nguyen Huu Truong"
              class="imgDonate"
            />
          </div>
          <div class="col-xs-10">
            <h5 class="text-danger">9704229207615407073</h5>
            <h5 class="text-info">NGUYEN HUU TRUONG</h5>
          </div>
        </li>
        <li class="outer-wrapper">
          <div class="col-xs-2 frame">
            <img
              src="/images/donate/zalopay.png"
              alt="Tài khoản BIDV Nguyen Huu Truong"
              class="imgDonate"
            />
          </div>
          <div class="col-xs-10">
            <h5 class="text-danger">0911397764</h5>
            <h5 class="text-info">NGUYEN HUU TRUONG</h5>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-6 col-xs-12">
      <strong id="copyright"
        >Copyright © 2014-2020 <a href="https://redoapp.com">ReDo</a>.</strong
      >All rights reserved.
      <a href="https://www.facebook.com/" target="_blank"
        ><i
          class="fa fa-facebook-square social"
          aria-hidden="true"
          id="facebook"
        ></i
      ></a>
      <a
        href="https://www.youtube.com/channel/UCvrK3w-_n9jPy93tHHJ7Rgg?view_as=subscriber?sub_confirmation=1"
        target="_blank"
        ><i
          class="fa fa-youtube-play social"
          id="youtube"
          aria-hidden="true"
        ></i
      ></a>
      <ul class="list-unstyled mb20">
        <li class="outer-wrapper">
          <div class="col-xs-3 frame">
            <i class="fa fa-angellist icon" aria-hidden="true"></i>
          </div>
          <div class="col-xs-9">
            <h5 class="text-danger">Hiện tại</h5>
            <h5 class="text-info statistic_number" id="current_visitors"></h5>
          </div>
        </li>
        <!-- <li class = "outer-wrapper">
          <div class="col-xs-3 frame">
            <i class="fa fa-flag-o icon" aria-hidden="true"></i>
          </div>
          <div class="col-xs-9">
            <h5 class="text-danger">Tổng lượt truy cập</h5>
            <h5 class="text-info statistic_number"></h5>
          </div>
        </li> -->
        <li class="outer-wrapper">
          <div class="col-xs-3 frame">
            <i class="fa fa-users icon" aria-hidden="true"></i>
          </div>
          <div class="col-xs-9">
            <h5 class="text-danger">Thành viên</h5>
            <h5 class="text-info statistic_number" id="totalUsers"></h5>
          </div>
        </li>
        <!-- <li class = "outer-wrapper">
          <div class="col-xs-3 frame">
            <i class="fa fa-check-square-o icon" aria-hidden="true"></i>
          </div>
          <div class="col-xs-9">
            <h5 class="text-danger">Lượt làm bài</h5>
            <h5 class="text-info statistic_number">1432</h5>
          </div>
        </li> -->
      </ul>
    </div>
  </div>
</div>

<%- include('invitation-modal') %>
<script type="text/javascript">

 
  $(document).ready(function () {
    // alert('Website đang bảo trì để nâng cấp tính năng nên tín hiệu chập chờn. Mong các bạn thông cảm!');
    socket.on("counter", function (users) {    
      $("#current_visitors").text(users.count);
    });
    TotalMembers();
  });

  function TotalMembers() {
    $.ajax({
      url: "/user/count",
      type: "get",
      success: function (data) {
        if (data.code == 200) {
          $("#totalUsers").text(data.count);
        }
      },
    });
  }

  //lắng nghe sự kiện mời thi trực tuyến từ người khác
  socket.on('send-invitation',data=>{
    $('#invited_user_socket_id').val(data.socket_id);
    $('#invited_user_room').val(data.room);
    $('#inviter').text(data.inviter);
    $('#invitation_room').text(data.room_title);
    $('#invitationModal').modal();
  });


</script>

<style media="screen">
  #footer{
   align-self: flex-end;
   margin-bottom:0;
   bottom:0;
  }
  #footer{
    background-color:#262b36;
    display:block;
    bottom:0;
  }
  #footer hr{
    margin:10px 0;
  }
  #copyright{
    color:#ffffff;
    padding-left:10px;
  }

  .social{
    font-size:24px;
  }
  .social#youtube{
    color:red;
  }
  .social#facebook{
    color:#003399;
  }
  .outer-wrapper{
    display: inline-block;
  }
  .frame{
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    margin-top:15px;
  }
  .statistic_number{
    font-family:"Digital";
    text-align:center;
    font-size:14px;
  }
  .imgDonate{
    border-radius:50%;
    border: 2px solid #657390
    width:24px;
    height:auto;
    display: block;
    margin: 0 auto;
    padding:3px;
  }
  .icon{
    font-size:24px;
    color: #ffffff;
  }
</style>
