<div class="header-right" id="header_right_authenticated">
  <ul class="headermenu">
    <li>
      <div class="btn-group">
        <button type="button" class="btn btn-logged" data-toggle="dropdown">
          <img src="/user/images/photos/loggeduser.png" alt="" id="trAvatar"/>
          <span id="trFullname">Administrator</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#" id="btnContributeQuestion"><i class="glyphicon glyphicon-question-sign"></i> Đóng góp câu hỏi</a></li>
          <li><a href="#" id="trLogout"><i class="glyphicon glyphicon-log-out"></i> Đăng xuất</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div><!-- header-right -->
<%- include('login') %>
<%- include('register') %>

<div class="header-right" id="header_right_not_authenticated">
  <ul class="headermenu">
    <li>
      <div  class="btn-group">
        <button class="btn" data-toggle="dropdown" id="btnLogin">
          <i class="fa fa-user text-warning"></i> <span class="text-danger">Đăng nhập</span>
        </button>
      </div>
    </li>
    <li>
      <div  class="btn-group">
        <button class="btn" data-toggle="dropdown" id="btnRegister">
          <i class="fa fa-registered text-success" aria-hidden="true"></i> <span class="text-warning">Đăng ký</span>
        </button>
      </div>
    </li>
  </ul>
</div><!-- header-right -->

<script type="text/javascript">

  //default ẩn hết 2 phần đăng nhập và tài khoản
  // $('#header_right_authenticated').hide();
  $('#header_right_not_authenticated').hide();

  $(document).ready(function(){
    socket.on('load-top-right',(user)=>{
      if(user!=1){
        console.log('user in header right: ',user);
        $('#header_right_authenticated').show();
        $('#header_right_not_authenticated').hide();
        $('#trAvatar').attr('src',user.avatar);
        $('#trFullname').text(user.fullname);
      }else{
        $('#header_right_authenticated').hide();
        $('#header_right_not_authenticated').show();
      }
    });
  });

  $('#trLogout').click(function(e){
    e.preventDefault();
    socket.emit('user-logout');
  });

  $('#btnLogin').click(function(){
    $('#modalLogin').modal();
  });
  $('#btnRegister').click(function(){
    $('#modalRegister').modal();
  });
</script>





<%- include('../question/modal/question') %>

<script type="text/javascript">
  $('#btnContributeQuestion').click(function(e){
    e.preventDefault();
    $('#modalQuestion').modal();
  });

  $('#aLogout').click(function(e){
    e.preventDefault();
    $.ajax({
      url:'/thanh-vien/logout',
      type:'post',
      success:function(data){
        if(data.code == 200){
          alert(data.msg);
          location.reload();
        }
      }
    })
  });
</script>
