<div class="header-right" id="header_right_authenticated">
  <ul class="headermenu">
    <li>
      <div id="noticePanel" class="btn-group">
        <button class="btn btn-notice" data-toggle="dropdown" id="btnNotice">
          <i class="fa fa-globe text-primary"></i>
        </button>
        <div id="noticeDropdown" class="dropdown-menu dm-notice pull-right">
          <div role="tabpanel">
            <!-- thông báo -->
            <ul class="nav nav-tabs nav-justified" role="tablist">
              <li class="active"><a data-target="#notification" data-toggle="tab">Thông báo (2)</a></li>
            </ul>

            <!-- danh sách thông báo -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active">
                <ul class="list-group notice-list" id="notification">

                </ul>
                <a class="btn-more" href="#">View More Notifications <i class="fa fa-long-arrow-right"></i></a>
              </div>
            </div><!-- danh sách thông báo-->
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="btn-group">
        <button type="button" class="btn btn-logged" data-toggle="dropdown">
          <img src="/user/images/photos/loggeduser.png" alt="" id="trAvatar"/>
          <span id="trFullname">Administrator</span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#" id="btnContributeQuestion"><i class="glyphicon glyphicon-question-sign"></i> Đóng góp câu hỏi</a></li>
          <li><a href="#" id="trLogout"><i class="glyphicon glyphicon-log-out"></i> Đăng xuất</a></li>
        </ul>
      </div>
    </li>
  </ul>
</div><!-- header-right -->
<%- include('login') %>
<%- include('register') %>

<div class="header-right" id="header_right_not_authenticated">
  <ul class="headermenu">
    <li>
      <div  class="btn-group">
        <button class="btn" data-toggle="dropdown" id="btnLogin">
          <i class="fa fa-user text-warning"></i> <span class="text-danger">Đăng nhập</span>
        </button>
      </div>
    </li>
    <li>
      <div  class="btn-group">
        <button class="btn" data-toggle="dropdown" id="btnRegister">
          <i class="fa fa-registered text-success" aria-hidden="true"></i> <span class="text-warning">Đăng ký</span>
        </button>
      </div>
    </li>
  </ul>
</div><!-- header-right -->

<script type="text/javascript">

  //default ẩn hết 2 phần đăng nhập và tài khoản
  $('#header_right_authenticated').hide();
  $('#header_right_not_authenticated').show();

  $(document).ready(function(){
    socket.on('load-top-right',(user)=>{
      if(user!=1){
        $('#header_right_authenticated').show(500);
        $('#header_right_not_authenticated').hide(500);
        $('#trAvatar').attr('src',user.avatar);
        $('#trFullname').text(user.fullname);
      }else{
        $('#header_right_authenticated').hide(500);
        $('#header_right_not_authenticated').show(500);
      }
    });
  });

  $('#trLogout').click(function(e){
    e.preventDefault();
    // socket.emit('user-logout');
    Logout();
  });

  $('#btnLogin').click(function(){
    $('#modalLogin').modal();
  });
  $('#btnRegister').click(function(){
    $('#modalRegister').modal();
  });

  socket.on('push-notification',(result)=>{
    $.ajax({
      url:'/comment/notification',
      type:'get',
      data:result,
      success:function(data){
        console.log(data);
        if(data.code == 200){
          if(!$('#btnNotice').hasClass('alert-notice')){
            $('#btnNotice').addClass('alert-notice');
          }
          let noti = '';
          noti += '<li class="list-group-item unread">';
          noti +=   '<div class="row">';
          noti +=     '<div class="col-xs-2">';
          noti +=       '<img src="'+data.reply.user.avatar+'" alt="" style="height:20px; width:auto; border-radius:50%;">';
          noti +=     '</div>';
          noti +=     '<div class="col-xs-10">';
          noti +=       '<h5><a href="#"><span class="text-danger">'+data.reply.user.fullname+'</span> trả lời một bình luận của bạn</a></h5>';
          noti +=       '<small>'+data.reply.comment.created_at+'</small>';
          noti +=       '<span>'+data.reply.comment.comment+'</span>';
          noti +=     '</div>';
          noti +=   '</div>';
          noti += '</li>';
          $('#notification').append(noti);
        }


      }
    });
  });

</script>





<%- include('../question/modal/question') %>

<script type="text/javascript">
  $('#btnContributeQuestion').click(function(e){
    e.preventDefault();
    $('#modalQuestion').modal();
  });
</script>
