<div class="modal" tabindex="-1" role="dialog" id="invitationModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #ccffcc">
          <div class="row">
            <div class="col-md-10 col-sm-8 col-xs-8">
              <h5
                class="modal-title"
                style="
                  padding-top: 5px;
                  color: #ff3300;
                  text-transform: uppercase;
                  font-weight: bold;
                "
              >
                Bạn nhận được một lời mời tham gia phòng thi
              </h5>
              <input type="hidden" id="invited_user_socket_id">
              <input type="hidden" id="invited_user_room">
            </div>
          </div>
        </div>
        <div class="modal-body">
          <h5>Thành viên: <span id="inviter" style="font-weight:bold; text-transform:uppercase; color:#ff3300;">Nguyễn Hữu Trường</span></h5>
          <h5><i class="fa fa-home" aria-hidden="true"></i> <span id="invitation_room" style="font-weight: bold; text-transform: capitalize; color:coral">Tiếng Anh ( 20 phút 30 câu )</span> </h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-success" id="btnAccept"><span><i class="fa fa-check" aria-hidden="true"></i></span> Đồng ý</button>
          <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">
            <span><i class="fa fa-ban" aria-hidden="true"></i></span> Từ chối
          </button>
        </div>
      </div>
    </div>
  </div>

  <script>
      $('#btnAccept').click(function(){
          let socket_id = $('#invited_user_socket_i1d').val();
          let room = $('#invited_user_room').val(); 
          console.log({socket_id,room});
      })

  </script>
  