<!--modal login --->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<body class="signwrapper">
  <div class="sign-overlay"></div>
  <div class="signpanel"></div>
  <div class="panel signin">
    <div class="row text-right">
      <a href="#" class="btn btn-lg" id="btnCloseLoginModal"><i class="fa fa-times text-danger" aria-hidden="true"></i></a>
    </div>

    <div class="panel-body">

      <div class="row">
        <div class="col-sm-12">
          <fb:login-button class="fb_button"
            scope="public_profile,email"
            onlogin="checkLoginState();"
            >
              <span style= "width: 300px; padding: 10px 0;">Đăng nhập bằng Facebook</span>
          </fb:login-button>
        </div>
        <div class="col-sm-12">
          <div id="gSignIn" style="width:100%;"></div>
        </div>
      </div>

      <div class="or">hoặc</div>

        <div class="form-group mb10">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" class="form-control" placeholder="Enter Username" id="txtSignIUsername">
          </div>
        </div>
        <div class="form-group nomargin">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" class="form-control" placeholder="Enter Password" id="txtSignInPassword">
          </div>
        </div>
        <div><a href="#" class="forgot">Quên mật khẩu?</a></div>
        <div class="form-group">
            <h4 class="text-danger" id="msgSignIn"></h4>
          <button class="btn btn-success btn-quirk btn-block" id="btnSignIn">Đăng nhập</button>
          <button type="button" id="btnFBLogout">Logout</button>
        </div>

      <hr class="invisible">
      <div class="form-group">
        <a href="" class="btn btn-default btn-quirk btn-stroke btn-stroke-thin btn-block btn-sign" id="btnRegisterSuddently">Không phải thành viên? Đăng ký ngay!</a>
      </div>
    </div>
  </div><!-- panel -->
</body>
</div>

<!-- script login with google -->
<script src="https://apis.google.com/js/client:platform.js?onload=renderButton" async defer></script>
<script type="text/javascript">

  $('#btnCloseLoginModal').click(function(e){
    e.preventDefault();
    $('#modalLogin').modal('hide');
  });
  $('#btnSignIn').click(function(){
    let username = $('#txtSignIUsername').val().trim();
    let password = $('#txtSignInPassword').val().trim();
    if(username.length == 0 || password.length == 0){
        $('#msgSignIn').text('Vui lòng nhập đủ tài khoản và mật khẩu');
        return;
    }
    $.ajax({
      url:'/user/login',
      type:'post',
      data:{
        username:username,
        password:password
      },
      success:function(data){
        if(data.code == 200){
          let user = {
              username:data.user.username,
              member_code:data.user.member_code,
              avatar:data.user.avatar,              
              fullname:data.user.fullname
            };    
            socket.emit('logged-user',user);
        }else{
          $('#msgSignIn').text(data.msg);
        }
      }
    });
  });
  $('#btnRegisterSuddently').click(function(e){
    e.preventDefault();
    $('#modalLogin').modal('hide');
    $('#modalRegister').modal();
  })
</script>

<script src="/user/js/social-auth/fbapi.js" charset="utf-8"></script>
<script src="/user/js/social-auth/google-auth.js" charset="utf-8"></script>

<style media="screen">
  .fb_button{
    height:25px;
    display:block;
    margin: 0 auto;
  }
  .fb_button span{
    height:25px;
  }
  .abcRioButtonContentWrapper{
    width: auto;
    margin: 0 auto;
  }
  .abcRioButtonContentWrapper .abcRioButtonContents{
    width:100%;
  }
</style>
