<!--modal login --->
<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<body class="signwrapper">
  <div class="sign-overlay"></div>
  <div class="signpanel"></div>
  <div class="panel signin">
    <div class="row text-right">
      <a href="#" class="btn btn-lg" id="btnCloseRegisterModal"><i class="fa fa-times text-danger" aria-hidden="true"></i></a>
    </div>
    <div class="panel-heading">
      <h1>Trắc nghiệm</h1>
    </div>
    <div class="panel-body">
      <button class="btn btn-primary btn-quirk btn-fb btn-block">Đăng nhập bằng Facebook</button>
      <div class="or">hoặc</div>

      <div class="form-group">
        <label for="">Nghề nghiệp</label>
        <select class="form-control mb10" id="jobs">
        </select>
      </div>
      <div class="form-group mb10">
        <div class="input-group has-error">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text" class="form-control" placeholder="Tài khoản" id="txtSU_username">
        </div>
      </div>
      <div class="form-group mb10">
        <div class="input-group has-error">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control" placeholder="Mật khẩu" id="txtSU_password">
        </div>
      </div>
      <div class="form-group mb10">
        <div class="input-group has-error">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control" placeholder="Xác nhận mật khẩu" id="txtSU_confirm_password">
        </div>
      </div>

      <div class="form-group mb10">
        <div class="input-group has-error">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input type="text" class="form-control" placeholder="Họ tên" id="txtSU_fullname">
        </div>
      </div>

      <div class="form-group mb10">
        <div class="input-group">
          <span class="input-group-addon"><b><i class="fa fa-phone" aria-hidden="true"></i></b></span>
          <input type="text" class="form-control" placeholder="Số điện thoại" id="txtSU_phone">
        </div>
      </div>

      <div class="input-group mb10">
        <span class="input-group-addon">@</span>
        <input type="text" placeholder="Thư điện tử(email)" class="form-control">
      </div>


      <div class="input-group mb10">
        <label for="exampleFormControlFile1">Ảnh đại diện</label>
        <input type="file" class="form-control-file btn btn-warning" id="txtSU_avatar">
      </div>

      <div class="form-group">
        <h4 class="text-danger" id="msgSignIn"></h4>
        <button class="btn btn-success btn-quirk btn-block" id="btnSignUp">Đăng ký</button>
      </div>

      <hr class="invisible">
      <div class="form-group">
        <a href="" class="btn btn-default btn-quirk btn-stroke btn-stroke-thin btn-block btn-sign" id="btnLoginSuddently">Đã có tài khoản? Đăng nhập ngay!</a>
      </div>
    </div>
  </div><!-- panel -->
</body>
</div>

<script type="text/javascript">
  $('#btnCloseRegisterModal').click(function(e){
    e.preventDefault();
    $('#modalRegister').modal('hide');
  });
  $('#btnSignUp').click(function(){
    let username = $('#txtSignIUsername').val();
    let password = $('#txtSignInPassword').val();
    $.ajax({
      url:'/thanh-vien/login',
      type:'post',
      data:{
        username:username,
        password:password
      },
      success:function(data){
        if(data.code == 200){
          location.reload()
        }else{
          $('#msgSignIn').text(data.msg);
        }
      }
    });
  });

  $('#btnLoginSuddently').click(function(e){
    e.preventDefault();
    $('#modalRegister').modal('hide');
    $('#modalLogin').modal();
  });

  $(document).ready(function(){
    $.ajax({
      url:'/admin/job/list',
      type:'get',
      success:function(data){
        if(data.code == 200){
          let jobs = '';
          $.each(data.jobs,function(k,r){
            jobs += '<option value="'+r._id+'">'+r.name+'</option>';
          });
          $('#jobs').append(jobs);
        }
      }
    });
  });
</script>
