<div class="searchpanel">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for..." id="txtSearch" value="<%if(locals.key){%> <%=key%> <%}%>">
    <span class="input-group-btn">
      <button class="btn btn-default" id="btnSearch" type="button"><i class="fa fa-search"></i></button>
    </span>
  </div><!-- input-group -->
</div>

<script type="text/javascript">
  var search='';
  $('#txtSearch').on('keypress', function (e) {
    if(e.which === 13){
      $('#btnSearch').click();
    }
  });
  $('#btnSearch').click(async function(){
    search = $('#txtSearch').val();
    let group = $('#direction').find('li.li_group').attr('id');
    let subject = $('#direction').find('li.active').attr('id');
    let url = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');
    if(typeof group === 'undefined'){
      url += '/tim-kiem?key='+search;
    }else{
      if(typeof subject !== 'undefined'){
        url += $('#direction').find('li.active').find('a').attr('href').replace('view','tim-kiem');
      }else{
        url += $('#direction').find('li.li_group').find('a').attr('href').replace('view','tim-kiem');
      }
      url += '&key='+search;
    }
    window.location.replace(url);
  });
</script>
