<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="/images/logo.png" alt="Trắc nghiệm" class="brand-image elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Thi trắc nghiệm <i class="glyphicon glyphicon-off"></i></span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <div class="text-center" id="account">
      <button type="button" id="btnAccount" class="btn btn-sm btn-primary text-center mt-3">Đăng nhập</button>
      <button type="button" id="btnRegisterAccount" class="btn btn-sm btn-success text-center mt-3">Đăng ký</button>
    </div>
    <div id="dProfile" hidden>
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="/images/man.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <label  class="text-warning">
            <span id="lFullname"></span>
            <span >
              <a href="#" class="text-danger" id="btnLogout"><i class="fa fa-power-off" aria-hidden="true"></i></a>
            </span>
          </label>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
