<div class="tab-pane active" id="mainmenu">
  <header>
    <a href="/"><i class="fa fa-home mr5"></i> Trang chủ</a>
  </header>
  <ul class="nav" id="menuGroups">
  </ul>
</div>


<script type="text/javascript">
  var g = $.when();
  $(document).ready(function(){
    $.ajax({
      url:'/admin/group/list',
      type:'get',
      data:{
        is_actived:true
      }
    }).done(function(data){
      let groups = '';
      data.groups.forEach(function(k,r){
        groups += '<li>';
          groups +=  '<a href="/view?group='+k.meta+'">';
            groups +=  '<i class="zmdi zmdi-view-dashboard"></i> '+k.name;
            groups +='</a>';
            groups +='</li>';
          });
          $('#menuGroups').append(groups);
        });
        ;
      });
    </script>

    <style media="screen">
      #mainmenu {
        left: 150px;
        overflow-y: auto;
        background: #37474F;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }

      #mainmenu header {
        background-color: #263238;
        font-size: 20px;
        line-height: 22px;
        padding: 10px 5px;
        padding-left: 16px;
      }

      #mainmenu header a {
        color: #fff;
        display: block;
        text-decoration: none;
      }

      #mainmenu header a:hover {
        color: #fff;
      }

      #mainmenu .nav{

      }

      #mainmenu .nav a{
        background: none;
        border-bottom: 1px solid #455A64;
        color: #CFD8DC;
        font-size: 14px;
        padding: 16px 5px;
      }

      #mainmenu .nav a:hover{
        background: none;
        color: #ECEFF1;
      }

      #mainmenu .nav a i{
        margin-right: 16px;
      }
    </style>
