<div class="tab-pane" id="user-statistic">

</div>

<script type="text/javascript">
/*
biến toàn cục
*/

  $(document).ready(function(){
    $.ajax({
      url:'/statistic/profile',
      type:'get',
      success:function(data){
        console.log(data);
      }
    });
  });

</script>
