
<div class="modal fade" id="modalWallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Chân thành cảm ơn sự ủng hộ của bạn!</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
          <img src="" alt="" id="imgWallet" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
</div>
