<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Trang quản trị hệ thống thi trắc nghiệm</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/user/lib/weather-icons/css/weather-icons.css">
    <link rel="stylesheet" href="/user/lib/jquery-toggles/toggles-full.css">

    <link rel="stylesheet" href="/user/css/quirk.css">

    <script src="/user/lib/jquery/jquery.js"></script>

    <script src="/user/lib/modernizr/modernizr.js"></script>
    <script src="/user/lib/jquery-ui/jquery-ui.js"></script>
    <script src="/user/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/user/lib/jquery-toggles/toggles.js"></script>
    <script src="/user/js/quirk.js"></script>
  </head>
  <body>
    <div class="container">
      <%- body %>
    </div>
  </body>
</html>
