<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-warning text-center">Website đang trong thời gian bảo trì nâng cấp tính năng <span class="text-danger">Phòng thi trực tuyến</span>.</h1>
      <h2 class="text-danger text-center">Dự kiến việc bảo trì sẽ hoàn tất trước 12h ngày 25/10/2020</h2>
      <h3 class="text-success text-center">Rất mong các bạn thông cảm!</h3>
      <hr>
      <a href="https://www.facebook.com/groups/redoapp/" ><h4 class = "text-info text-center">Group support facebook: <span class="text-danger">Support ReDoApp.com</span></h4></a>
      <h5 class="text-danger text-center">Chức năng mới: <span class="text-info">phòng thi trực tuyến</span> </h5>
    </div>
  </body>
</html>
