<%- include('modal/question.ejs') %>
<div class="row">
  <div class="col-sm-3">
    <div class="form-group">
      <select class="form-control" id="groups">
      </select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <select class="form-control" id="subjects">
      </select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Từ khóa tìm kiếm" aria-label="Search" id="txtSearch">
    </div>
  </div>
  <div class="col-sm-2">
    <button type="button" name="button" class="btn btn-md btn-primary" id="btnSearch"> <span><i class="fa fa-search mr-2" aria-hidden="true"></i></span>Tìm kiếm</button>
  </div>
  <div class="col-sm-1">
    <button type="button" id="btnAdd" class="btn btn-success ml-4"><i class="fa fa-plus" aria-hidden="true"></i></button>
  </div>
</div>

<table class="table table-bordered table-success nomargin" id="tblData">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Câu hỏi</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="table-data">
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination" id="pagination">
  </ul>
</nav>


<script type="text/javascript">
  // //lưu biến toàn cục
  var subject = '';
  var page = 1;
  var search = '';
  $(document).ready( function(){
    LoadGroup();
    $("select#groups").change(async function(){
      let id = await $(this).children("option:selected").attr('id');
      LoadSubject(id);
    });
  });


  $('#btnAdd').click(function(){
    $('#modalQuestion').modal();
  });

  $('#btnSearch').click(function(){
    search = $('#txtSearch').val();
    subject =  $('#subjects').children("option:selected").attr('id');
    LoadQuestion();
  })

  function LoadQuestion(){
    $.ajax({
      url:'/admin/question/list-with-conditions',
      type:'get',
      data:{
        page:page,
        subject:subject,
        search:search,
        is_actived:true
      },
      success:function(data){
        if(data.code == 200){
          $('#table-data').empty();
          let dsch = data.dsch;
          let content = "";
          //stt của các dòng
          let idx = (page-1)*data.pageSize+1;
          $.each(data.questions,function(key,row){
            content +="<tr id='"+row._id+"'>";
              content +="<td>"+idx+++"</td>";
              content +="<td class = 'font-weight-bold'>"+row.question+"</td>";
              content +="<td>";
                content += "<button class ='btn btnView' data-view = '"+row._id+"' ><i class='text-info fa fa-eye' aria-hidden='true'></i></button>";
                content +="<button class ='btn btnUpdate' data-update = '"+row._id+"'><i class='text-warning fa fa-edit' aria-hidden='true'></i></button>";
                content +="<button class ='btn btnDelete' data-delete = '"+row._id+"'><i class='text-danger fa fa-trash' aria-hidden='true'></i></button>";
                content += "</td>";
              });
              $('#table-data').append(content);
            }
          }
        });
      }


      function LoadGroup(){
        $.ajax({
          url:'/admin/group/list',
          type:'get',
          data:{
            is_actived:true
          },
          success:function(data){
            if(data.code == 200){
              $('#groups').empty();
              let d = '';
              $.each(data.groups,function(k,r){
                d += '<option value="'+r.meta+'" id = "'+r._id+'">'+r.name+'</option>';
              });
              $('#groups').append(d);
              let id = $('#groups').children("option:selected").attr('id');
              LoadSubject(id);
            }
          }
        });
      }

      function LoadSubject(group){
        if(group.trim().length == 0){
          $('#subjects').empty();
        }else{
          $.ajax({
            url:'/admin/subject/list-by-group',
            type:'get',
            data:{
              group:group,
              is_actived:true
            },
            success:function(data){
              if(data.code == 200){
                $('#subjects').empty();
                let d = '';
                $.each(data.subjects,function(k,r){
                  d += '<option value="'+r.meta+'" id="'+r._id+'">'+r.name+'</option>';
                });
                $('#subjects').append(d);
                subject =  $('#subjects').children("option:selected").attr('id');

                LoadQuestion();
              }
            }
          });
        }
      }



    </script>
