
<div class="row">
  <div class="col-md-8 col-sm-12 col-xs-12">
    <%- include('../layouts/documents') %>
  </div>
  <div class="col-md-4 col-sm-12 col-xs-12">
    <%- include('../layouts/comment') %>
  </div>
</div>



<script type="text/javascript">
  $(document).ready(function(){
  });
</script>
