<div class="row">
  <div class="col-sm-8">
    <div class="panel panel-success list-announcement" style="margin-bottom:10px;">
      <div class="panel-heading" style="padding-top:5px; padding-bottom:5px;">
        <h1 class="panel-title" style="text-align:left;margin-top:5px; padding-top:5px; padding-bottom:5px;">Kết quả tìm kiếm: <span style="color:yellow;"><%if(locals.key){%><%=key%><%}%></span></h1>
      </div>
      <div class="panel-body" style="min-height:200px;" id="result">
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <%- include('../layouts/comment') %>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    let group = $('#direction').find('li.li_group').attr('id');
    let subject = $('#direction').find('li.active').attr('id');
    let search = $('#txtSearch').val().trim();
    $.ajax({
      url:'/admin/question/search',
      type:'get',
      data:{
        search:search,
        group:group,
        subject:subject
      },
      success:function(data){
        if(data.code == 200){
          console.log(data);
          let result = '<ul class="list-unstyled mb20">';
          $.each(data.questions,function(k,v){
            result += '<li><h4 class="text-danger">'+v.question+'</h4>';
            switch (v.answer) {
              case 'A':
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px; background-color:#FF9900"><span style="color:red">A. </span>'+v.option_a+'</h6>';
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px;"><span style="color:red">B. </span>'+v.option_b+'</h6>';
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px;"><span style="color:red">C. </span>'+v.option_c+'</h6>';
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px;"><span style="color:red">D. </span>'+v.option_d+'</h6>';
                break;
              case 'B':
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px;"><span style="color:red">A. </span>'+v.option_a+'</h6>';
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px; background-color:#FF9900"><span style="color:red">B. </span>'+v.option_b+'</h6>';
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px;"><span style="color:red">C. </span>'+v.option_c+'</h6>';
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px;"><span style="color:red">D. </span>'+v.option_d+'</h6>';
                break;
              case 'C':
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px;"><span style="color:red">A. </span>'+v.option_a+'</h6>';
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px;"><span style="color:red">B. </span>'+v.option_b+'</h6>';
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px; background-color:#FF9900"><span style="color:red">C. </span>'+v.option_c+'</h6>';
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px;"><span style="color:red">D. </span>'+v.option_d+'</h6>';
                break;
              case 'D':
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px;"><span style="color:red">A. </span>'+v.option_a+'</h6>';
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px;"><span style="color:red">B. </span>'+v.option_b+'</h6>';
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px;"><span style="color:red">C. </span>'+v.option_c+'</h6>';
                result += '<h6 style="padding-left:10px;padding-top:2px; padding-bottom:2px; background-color:#FF9900"><span style="color:red">D. </span>'+v.option_d+'</h6>';

                break;
            }
            if(v.description.length > 0){
              result += '<label class = "text-info"><i>'+v.description+'</i></label>';
            }
            result += '</li>';

          });
          result += '</ul>';
          if(data.questions.length>0){
            $('#result').append(result);
          }else{
            $('#result').append('<h4 style = "color:#770000; padding-left:10px; font-size:18px;">Không có kết quả nào phù hợp</h4>');
          }
        }
      }
    });
  });
</script>
