<div class="modal" tabindex="-1" role="dialog" id="AddRoomModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5
          class="modal-title"
          style="color: #ff6600; text-transform: uppercase"
        >
          Tạo mới phòng thi trực tuyến
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-6">
            <select class="form-control" id="subjects" style="border:1px solid #DDD"></select>
          </div>
          <div class="col-xs-4">
            <div class="form-group">
              <div class="input-group date" id="datetimepicker">
                <input type="text" class="form-control" style="border:1px solid #DDD" id="started_time"/>
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-success" id="btnCreatNewRoom">
              Tạo phòng
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- thư viện liên quan đến datetimepicker -->
<link
  href="/user/lib/datetimepicker/bootstrap/css/bootstrap-datetimepicker.min.css"
  rel="stylesheet"
  media="screen"
/>
<script
  type="text/javascript"
  src="/user/lib/datetimepicker/bootstrap/js/bootstrap-datetimepicker.js"
  charset="UTF-8"
></script>
<script
  type="text/javascript"
  src="/user/lib/datetimepicker/bootstrap/js/locales/bootstrap-datetimepicker.fr.js"
  charset="UTF-8"
></script>

<script type="text/javascript">
  $(document).ready(function () {
    $.ajax({
      url: "/admin/subject/list-all",
      type: "get",
      success: function (data) {
        if (data.code == 200) {
          let subjects = "";
          $.each(data.subjects, function (k, v) {
            subjects += '<option value="' + v._id + '">' + v.name + "</option>";
          });
          $("#subjects").append(subjects);
        }
      },
    });

    $(function () {
      $("#datetimepicker").datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1,
      });
    });
  });

  $("#btnCreatNewRoom").click(function () {
    console.log('time:',$('#started_time').val());
    $.ajax({
      url: "/live/create",
      type: "post",
      data: {
        id: $("#subjects option:selected").val(),
        started_time:$('#started_time').val()
      },
      success: function (data) {
        if (data.code == 200) {
          alert(data.msg);
          socket.emit("add-room");
          $("#AddRoomModal").modal("hide");
        }
      },
    });
  });
</script>
