<div class="modal" tabindex="-1" role="dialog" id="modalAddUser">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #CCFFCC;">
        <div class="row" >
          <div class="col-md-10 col-sm-8 col-xs-8">
            <h5 class="modal-title" style="padding-top:5px; color:#FF3300; text-transform: uppercase; font-weight: bold;">Mời các thành viên khác vào phòng thi</h5>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-4 text-right">
            <button id="btnRefresh" class="btn btn-xs btn-warning">
              <i class="fa fa-refresh text-primary" aria-hidden="true"></i>
            </button>
          </div>
        </div>       
      </div>
      <div class="modal-body">
        <input type="hidden" id="room_title" value="">

        <table class="table table-borderless">          
          <tbody id="users-nin-room"></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-second" data-dismiss="modal">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>



<script>
  $("#modalAddUser").on("show.bs.modal", function (e) {
    listUsersNinRoom();
    socket.on("users-nin-room", (data) => {
      if (data.users) {
        let d = '';
        $("#users-nin-room").empty();
        $.each(data.users, function (k, user) {
          d+= '<tr id="'+user.socket_id+'">';
          d+=     '<th scope="row" class = "text-danger">'+user.member_code+'</th>';         
          d+=    '<td class = "text-primary" style="font-weight:bold;">'+user.fullname+'</td>';
          d+=    '<td class="text-right"><input type="button" value="Mời" name = "invite-user" class="btn btn-xs btn-warning"></td>';
          d+=  '</tr>';
        });

        $("#users-nin-room").append(d);
      }
    });
  });

  $(document).on("click", "input[name='invite-user']", function () {
      let socket_id = $(this).closest("tr").attr('id');
      socket.emit('invite-user',{socket_id:socket_id,room_title:$('#room_title').val()});
  });



  $('#btnRefresh').click(function(){
    listUsersNinRoom();
  });

  function listUsersNinRoom(){
    socket.emit("list-users-not-in-any-room"); //gọi tới sự kiện list users không tham gia bất cứ phòng nào
  }
</script>
