<div class="modal" tabindex="-1" role="dialog" id="modalAddUser">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mời các thành viên khác vào phòng thi</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-borderless">          
          <tbody id="users-nin-room">
            
            
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Hoàn toàn đồng ý!
        </button>
      </div>
    </div>
  </div>
</div>



<script>
  $("#modalAddUser").on("show.bs.modal", function (e) {
    socket.emit("list-users-not-in-any-room"); //gọi tới sự kiện list users không tham gia bất cứ phòng nào
    socket.on("users-nin-room", (users) => {
      if (users) {
        let d = '';
        $.each(users, function (k, user) {
          d+= '<tr id="'+user.socket_id+'">';
          d+=     '<th scope="row">'+user.member_code+'</th>';
          d+=    '<td><img src="'+user.avatar+'" alt="'+user.fullname+'"></td>';
          d+=    '<td>'+user.fullname+'</td>';
          d+=    '<td><input type="button" value="Mời thi chung" name = "add" class="btn btn-xs btn-warning"></td>';
          d+=  '</tr>';
        });

        $("#users-nin-room").append(d);
      }
    });
  });
</script>
