<div class="modal" tabindex="-1" role="dialog" id="modalAddUser">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #CCFFCC;">
        <div class="row" >
          <div class="col-md-12 col-sm-12 col-xs-12">
            <h5 class="modal-title" style="padding-top:5px; color:#FF3300; text-transform: uppercase; font-weight: bold;">Mời các thành viên khác vào phòng thi</h5>
          </div>
        </div>         
      </div>
      <div class="modal-body">     
        <table class="table table-borderless">          
          <tbody id="members-nin-room"></tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-second" data-dismiss="modal">
          Đóng
        </button>
      </div>
    </div>
  </div>
</div>



<script>
  $("#modalAddUser").on("show.bs.modal", function (e) {
    listUsersNinRoom();
       socket.on("members-nin-room", (members) => {        
        let d = '';
        $("#members-nin-room").empty();
        $.each(members, function (k, user) {
          d+= '<tr id="'+user.socket_id+'">';
          d+=     '<th scope="row" class = "text-danger">'+user.member_code+'</th>';         
          d+=    '<td class = "text-primary" style="font-weight:bold;">'+user.fullname+'</td>';
          d+=    '<td class="text-right"><button name = "invite-user" class="btn btn-xs btn-success" style="border-radius:50%;"><i class="fa fa-plus" aria-hidden="true"></i></button></td>';
          d+=  '</tr>';
        });
        $("#members-nin-room").append(d);

    });
  });

  $(document).on("click", "button[name='invite-user']", function () {
      socket.emit('invite-member',{socket_id:$(this).closest("tr").attr('id'),room_title:$('.panel-heading h1').text()});
  });



  $('#btnRefresh').click(function(){
    listUsersNinRoom();
  });

  function listUsersNinRoom(){
    //gọi tới sự kiện list users không tham gia bất cứ phòng nào
    socket.emit("get-members-nin-room"); 
  }
</script>
