<div class="panel-info">
  <div class="panel-heading">
    <h1 style="font-size:17px; padding:5px; text-transform:uppercase; color:#fff; margin:5px; text-align:right;">Danh sách phòng thi online</h1>
  </div>
  <!-- /.card-header -->
  <div class="card-body" style="margin-top:10px;">
    <div class="row">
      <div class="col-sm-12 text-right">
        <button type="button" class="btn btn-success" id="btnCreate"><i class="fa fa-plus" aria-hidden="true"></i> Tạo phòng thi</button>
      </div>
    </div>
    <table class="table table-bordered table-warning table-striped" style="margin-top:10px;">
      <thead>
        <tr>
          <th>Phòng</th>
          <th>Môn thi</th>
          <th>Members</th>
          <th style="width: 40px"></th>
        </tr>
      </thead>
      <tbody id="roomslist">

      </tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>

<!-- include room modal -->
<%- include('room') %>

<!-- include create new live room modal -->
<%- include('add-room-modal') %>

<script type="text/javascript">
  $(document).ready(function(){
    LoadRooms();

    //load current member in each rooms
    socket.on('candidate-in-room',(data)=>{
      let canidates = '<ul class="list-unstyled mb20">';
      let room_id = $('#room_id').val();
      let members = data.filter(x=>x.room == room_id);
      $('#current_candidates').text(members.length);
      $('#roomslist > tr#'+room_id+' > td.current_members').text(members.length);
      $('#candidates').empty();
      $.each(members,function(k,v){

        canidates +=  '<div class="row">';
        canidates +=   '<div class="col-xs-2">';
        canidates +=   '</div>';
        canidates +=   '<div class="col-xs-10">';
        canidates +=     '<div class="media">';
        canidates +=       '<div class="media-left">';
        canidates +=        ' <img class="media-object photo-profile" src="'+v.user.avatar+'" style="width=15px; height:15px; border-radius: 50%; border:1px solid black; margin:2px;">';
        canidates +=     '</div>';
        canidates +=     '<div class="media-body">';
        canidates +=         '<h6 class="media-heading">'+v.user.member_code+'</h6>';
        canidates +=     '</div>';
        canidates +=   '</div>';
        canidates +=   '</div>';
        canidates += '</div>';
      });
      canidates +='</ul>';
      $('#candidates').append(canidates);
    });
    
    $(document).on('click',"input[name='join']",function() {
      let room_id = $(this).closest("tr").attr('id');
      $.ajax({
        url:'/live/check-login',
        type:'get',
        success:function(data){
          if(data.code == 200){
            candidate = {
              user:data.user,
              room:room_id
            };
            socket.emit('new-candidate-join',candidate);
            $('#room_id').val(room_id);
            $('#modalRoom').modal();
          }else{
            alert('Bạn phải đăng nhập mới tham gia phòng thi được!')
          }
        }
      });
    });
  });

  function LoadRooms(){
    $.ajax({
      url:'/live/list',
      type:'get',
      success:function(data){
        if(data.code == 200){
          $('#roomslist').empty();
          let rooms = '';
          let index = 1;
          $.each(data.rooms,function(k,v){
            rooms+= '<tr id = "'+v._id+'">';
            rooms+= '<td>'+(index++)+'</td>';
            rooms+=   '<td style="font-weight:bold; color:#FF6600">'+v.subject.name+'</td>';
            rooms+=   '<td class="current_members">0</td>';
            rooms+=   '<td>'
            rooms+=   '<input type="button" name="join" value="Join" class="btn btn-sm btn-warning">';
            rooms+=   '</td>';
            rooms+= '</tr>';
          });
          $('#roomslist').append(rooms);
      }
    }
  });



      }

      $('#btnCreate').click(function(){
        $.ajax({
          url:'/live/permission',
          type:'get',
          success:function(data){
            if(data.code == 200){
              $('#AddRoomModal').modal();
            }else{
              alert(data.msg);
            }
          }
        });
      });


    </script>
