<div class="panel-info">
  <div class="panel-heading">
    <h1
      style="
        font-size: 17px;
        padding: 5px;
        text-transform: uppercase;
        color: #fff;
        margin: 5px;
        text-align: right;
      "
    >
      Danh sách phòng thi online
    </h1>
  </div>
  <!-- /.card-header -->
  <div class="card-body" style="margin-top: 10px">
    <div class="row">
      <div class="col-sm-12 text-right">
        <button type="button" class="btn btn-success" id="btnCreate">
          <i class="fa fa-plus" aria-hidden="true"></i> Tạo phòng thi
        </button>
      </div>
    </div>
    <table
      class="table table-bordered table-warning table-striped"
      style="margin-top: 10px"
    >
      <thead>
        <tr>
          <th>Phòng</th>
          <th>Môn thi</th>
          <th>Giờ thi</th>
          <th>Members</th>
          <th style="width: 40px"></th>
        </tr>
      </thead>
      <tbody id="roomslist"></tbody>
    </table>
  </div>
  <!-- /.card-body -->
</div>

<!-- include room modal -->
<%- include('room') %>

<!-- include create new live room modal -->
<%- include('add-room-modal') %>

<script type="text/javascript">
  $(document).ready(function () {
    LoadRooms();

    // sự kiện click button jon phòng trên từng hàng tương ứng mỗi phòng
    $(document).on("click", "input[name='join']", function () {
      let room_id = $(this).closest("tr").attr("id");
      let master = $(this).closest("tr").data("master");
      let subject_id = $(this).closest("tr").data("subject");
      let room_name = $(this).closest("tr").find('td.room_name').text();

      $.ajax({
        url: "/live/check-login",
        type: "get",
        success: function (data) {
          if (data.code == 200) {
            candidate = {
              username: data.user.username,
              avatar:data.user.avatar,
              member_code:data.user.member_code,
              room: room_id,
              isNew: false,
            };
            socket.emit("join-room",candidate);
            if(data.user._id === master){
              $('#btnStart').show();
            }else{
              $('#btnStart').hide();
            }
            $("#subject_id").val(subject_id);
            $('#room_name').text('Phòng thi trực tuyến môn '+ room_name);
            $("#room_id").val(room_id);
            $("#modalRoom").modal();
          } else {
            alert("Bạn phải đăng nhập mới tham gia phòng thi được!");
          }
        },
      });
    });
  });



//socket load rooms
  socket.on('load-rooms',()=>{
    LoadRooms();
  });
  //hiển thị users tương ứng mỗi phòng
  socket.on("users-in-rooms", rooms => {
    $('#roomslist > tr').each(function() {
      let current_users = rooms.filter(x=>x.room === $(this).attr('id')).length;

      $('#roomslist > tr#'+$(this).attr('id')+' > td.current_members').text(current_users<10?'0'+current_users:current_users);
    });
  });


  //hàm load danh sách phòng thi trực tuyến  
  function LoadRooms() {
    $.ajax({
      url: "/live/list",
      type: "get",
      success: function (data) {
        if (data.code == 200) {
          $("#roomslist").empty();
          let rooms = "";
          let index = 1;
          $.each(data.rooms, function (k, v) {
            rooms +=
              '<tr id = "' + v._id + '" data-subject="' + v.subject._id + '" data-master="'+v.created_by+'">';
            rooms += "<td>" + index++ + "</td>";
            rooms +=
              '<td style="font-weight:bold; color:#FF6600" class = "room_name">' +
              v.subject.name +
              "</td>";
              rooms +=
              '<td style="font-weight:bold; color:#FF6600">' +
                (new Date(v.started_time)).toLocaleString() +
              "</td>";
            rooms += '<td class="current_members">0</td>';
            rooms += "<td>";
            if(v.status == -1){
              rooms +=
              '<input type="button" name="join" value="Join" class="btn btn-sm btn-warning">';
            }else{
              rooms +=
              '<input type="button" name="join" value="Đang thi" disabled  class="btn btn-sm btn-danger">';
            }
            
            rooms += "</td>";
            rooms += "</tr>";
          });
          $("#roomslist").append(rooms);
        }
      },
    });
  }

  $("#btnCreate").click(function () {
    $.ajax({
      url: "/live/permission",
      type: "get",
      success: function (data) {
        if (data.code == 200) {
          $("#AddRoomModal").modal();
        } else {
          alert(data.msg);
        }
      },
    });
  });
</script>

