<div class="modal" tabindex="-1" role="dialog" id="modalPreventJoinRoom">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Chưa tới thời gian thi!</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="text-info">Môn thi: <span id="room_name" class = "text-warning"></span></h4>
        <h5 class="text-info">Giờ thi: <span id="started_time" class = "text-warning"></span></h5>
        <h5 class="text-info">Số câu hỏi: <span id="number_of_question" class = "text-warning"></span> câu</h5>
        <h4 class = "text-info">Chưa tới giờ thi. Vui lòng quay lại <span class = "text-danger">10 phút</span> trước khi bắt đầu thi để tham gia phòng thi <span class = "text-success"><i class="fa fa-smile-o" aria-hidden="true"></i></span></h4>
        <hr>
        <h5 class = "text-primary">Trong lúc này, bạn có thể click vào nút <span class="text-warning">Đăng ký</span> để báo danh</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Hoàn toàn đồng ý!</button>
       
      </div>
    </div>
  </div>
</div>
