<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">

        </div>
        <div class="col-md-4 col-sm-12 col-xs-12" id="candidates">

        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  socket.on('candidate-in-room',(data)=>{
    let canidates = '<ul class="list-unstyled mb20">';
    let idx = 1;
    $.each(data,function(k,v){

      canidates +=  '<div class="row">';
      canidates +=   '<div class="col-xs-2">';
      canidates +=     '<h5>#'+(idx++)+'</h5>';
      canidates +=   '</div>';
      canidates +=   '<div class="col-xs-6">';
      canidates +=     '<div class="media">';
      canidates +=       '<div class="media-left">';
      canidates +=        ' <img class="media-object photo-profile" src="'+v.user.avatar+'" alt="...">';
      canidates +=     '</div>';
      canidates +=     '<div class="media-body">';
      canidates +=         '<h4 class="media-heading">'+v.user.member_code+'</h4>';
      canidates +=     '</div>';
      canidates +=   '</div>';
      canidates +=   '</div>';
      canidates += '</div>';
    });
    canidates +='</ul>';
    $('#candidates').append(canidates);
  });
</script>
