<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalRoom">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 col-sm-8 col-xs-12">
            <div class="panel-success">
              <div class="panel-heading">
                <button type="button" class="btn btn-sm btn-warning" id="btnStart">Bắt đầu</button>
                <input type="hidden" id="room_id" value="">
                <input type="hidden" id="subject_id" value="">
              </div>
              <!-- /.card-header -->
              <div class="panel-body" style="margin-top:10px;" >
                <!-- khu vực load câu hỏi -->
                <div id="questions"></div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-12">
            <div class="panel-success">
              <div class="panel-heading">
                <h6 style = "color:#fff;">Hiện tại (<span id="current_candidates" class="text-danger">0</span>)</h6>
              </div>
              <!-- /.card-header -->
              <div class="panel-body" style="margin-top:10px;" id="candidates">
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-primary" id="btnFinish">Kết thúc & Nộp bài</button>
       </div>
    </div>

  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('#questions').empty();
    $('#btnFinish').hide();
  });
  $('#btnStart').click(function(){
    let subject_id = $('#subject_id').val();
    let room_id = $('#room_id').val();
    $.ajax({
      url:'/live/generate-exam',
      type:'post',
      data:{
        room:room_id,
        subject:subject_id
      },
      success:function(data){
        if(data.code == 200){
          let d = {
            questions:data.questions,
            room:room_id
          };
          socket.emit('send-exam',d);
          $(this).hide();
          $('#btnFinish').show(100);
        }
      }
    });
  });

  $('#btnFinish').click(function(){
    socket.emit('user-finish');
  });

  //load current member in each rooms
  socket.on('users-in-each-room',(data)=>{
    alert('r: '+room_id);
    let canidates = '<ul class="list-unstyled mb20">';
    let members = data.filter(x=>x.room == room_id);
    $('#current_candidates').text(members.length);
    // $('#roomslist > tr#'+room_id+' > td.current_members').text(members.length);
    $('#candidates').empty();
    $.each(members,function(k,v){

      canidates +=  '<div class="row">';
      canidates +=   '<div class="col-xs-2">';
      canidates +=   '</div>';
      canidates +=   '<div class="col-xs-10">';
      canidates +=     '<div class="media">';
      canidates +=       '<div class="media-left">';
      canidates +=        ' <img class="media-object photo-profile" src="'+v.user.avatar+'" style="width=15px; height:15px; border-radius: 50%; border:1px solid black; margin:2px;">';
      canidates +=     '</div>';
      canidates +=     '<div class="media-body">';
      canidates +=         '<h6 class="media-heading">'+v.user.member_code+'</h6>';
      canidates +=     '</div>';
      canidates +=   '</div>';
      canidates +=   '</div>';
      canidates += '</div>';
    });
    canidates +='</ul>';
    $('#candidates').append(canidates);
  });


  socket.on('populate-exam',(data)=>{
    let room_id = $('#room_id').val();
    if(data.room == room_id){
      let q = '';
      let idx = 1;
      $.each(data.questions,function(k,v){
         q+=   '<div class="row">';
         q+=     '<h5 class = "text-danger"><span class="text-success">Câu '+(idx++)+': </span>'+v.question+'</h5>';
         q+=     '<fieldset>';
         q+=       '<h6 class="A" style="line-height: 1.6; margin-left:10px;"><input type="radio" name="'+v._id+'" value="A"><span class="text-danger">A. </span>'+v.option_a+'</h6>';
         q+=       '<h6 class="B" style="line-height: 1.6; margin-left:10px;"><input type="radio" name="'+v._id+'" value="B"><span class="text-danger">B. </span>'+v.option_b+'</h6>';
         q+=       '<h6 class="C" style="line-height: 1.6; margin-left:10px;"><input type="radio" name="'+v._id+'" value="C"><span class="text-danger">C. </span>'+v.option_c+'</h6>';
         q+=       '<h6 class="D" style="line-height: 1.6; margin-left:10px;"><input type="radio" name="'+v._id+'" value="D"><span class="text-danger">D. </span>'+v.option_d+'</h6>';
         q+=     '</fieldset>';
         q+=   '</div>';
         q+=   '<hr>';
      });
      $('#questions').append(q);
    }
  });
</script>
