<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalRoom">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col-md-10 col-sm-8 col-xs-12">

        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
          <div class="panel-info">
            <div class="panel-heading">
            <h1 style="font-size:17px; padding:5px; text-transform:uppercase; color:#fff; margin:5px; text-align:right;">Hiện tại(<span id="current_candidates" style="color:red;" >1</span>)</h1>
            </div>
            <!-- /.card-header -->
            <div class="card-body" style="margin-top:10px;" id="candidates">

            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  socket.on('candidate-in-room',(data)=>{
    let canidates = '<ul class="list-unstyled mb20">';
    let idx = 1;
    $('#current_candidates').text(data.length);
    $.each(data,function(k,v){

      canidates +=  '<div class="row">';
      canidates +=   '<div class="col-xs-2">';
      canidates +=     '<h6>#'+(idx++)+'</h6>';
      canidates +=   '</div>';
      canidates +=   '<div class="col-xs-6">';
      canidates +=     '<div class="media">';
      canidates +=       '<div class="media-left">';
      canidates +=        ' <img class="media-object photo-profile" src="'+v.user.avatar+'" style="width=15px; height:15px; border-radius: 50%; border:1px solid black; margin:2px;">';
      canidates +=     '</div>';
      canidates +=     '<div class="media-body">';
      canidates +=         '<h4 class="media-heading">'+v.user.member_code+'</h4>';
      canidates +=     '</div>';
      canidates +=   '</div>';
      canidates +=   '</div>';
      canidates += '</div>';
    });
    canidates +='</ul>';
    $('#candidates').append(canidates);
  });
</script>
